%h1 Logged In

%p
  You are logged in as #{session[:uid]}
  
%p
  = link_to("Logout", logout_path)

%hr
- begin
  %p= current_ldap_person.inspect 
- rescue Net::LDAP::LdapError, UCB::LDAP::BindFailedException => e
  %p= current_user.inspect

%hr
  = session.inspect